@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ToyTrade!</h1>
    <p>
        Trade your old toys for something new and make other kids happy!
        <br />Discover how fun and easy it is to give toys a second life.
    </p>
    <p>
        <a href="/User/Register">Sign up for free</a> or
        <a href="/User/Login">log in</a> to start trading.
    </p>
</div>
