@model PresentationLayer.Models.LoginViewModel

<form method="post" action="/User/Login">
    <label>Gebruikersnaam:</label>
    <input type="text" asp-for="Username" required />

    <label>Wachtwoord:</label>
    <input type="password" asp-for="Password" required />

    <button class="btn btn-standard" type="submit">Inloggen</button>
</form>

@if (ViewBag.Error != null)
{
    <p style="color:red;">@ViewBag.Error</p>
}

<p>Nog geen account?</p>
<a href="/User/Register" class="btn btn-standard">Registreren</a>
