/* Styling specifiek voor de toy-list pagina */
.toy-card {
    display: flex;
    background-color: #fffaed;
    border: 2px solid #6b4c3b;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 4px 4px #d99873;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
}

    .toy-card:hover {
        background-color: #f6ecd8;
        transform: scale(1.01);
    }

.toy-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    background: #ccc;
    margin-right: 20px;
    border-radius: 8px;
}

.toy-info {
    flex: 1;
    color: #6b4c3b;
}

    .toy-info h3 {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
    }

    .toy-info p {
        margin: 5px 0;
    }

.toy-card-link {
    text-decoration: none;
    color: inherit;
}

    .toy-card-link:hover {
        text-decoration: none;
        color: inherit;
    }
