/* Styling specifiek voor de toy-list pagina */
.toy-card {
    display: flex;
    background-color: #fffaed;
    border: 2px solid #6b4c3b;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 4px 4px #d99873;
}

.toy-image {
    width: 120px;
    height: 120px;
    background: #ccc;
    margin-right: 20px;
    border-radius: 8px;
}

.toy-info {
    flex: 1;
}

    .toy-info h3 {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
    }

    .toy-info p {
        margin: 5px 0;
    }

/* Knoppen voor acties zoals maken, bewerken, verwijderen */
/*.create-button, .edit-button, .delete-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.create-button {
    background-color: #000000;
}

.edit-button {
    background-color: #000000;
}

.delete-button {
    background-color: #dc3545;
}

    .create-button:hover,
    .edit-button:hover,
    .delete-button:hover {
        color: white;
        opacity: 0.6;
    }*/
