@model PresentationLayer.Models.ToyViewModel
@using PresentationLayer.Models.Enums


<h2>Add New Toy</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<form asp-action="AddToy" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="Condition">Condition</label>
        <select asp-for="Condition" asp-items="Html.GetEnumSelectList<ToyCondition>()" class="form-control"></select>

    </div>

    <div class="form-group">
        <label asp-for="ImageFile">Upload image</label>
        <input asp-for="ImageFile" type="file" class="form-control" />
    </div>

    <button type="submit" class="btn btn-standard">Add Toy</button>
</form>
